<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Formulario Usuario</title>
</head>
<body> 
 <h3>Usuario</h3>
 <form th:action="@{/form}" th:object="${formulario}" method="post">
 <p>Id <input type="text" th:field="*{id}" /></p>
  <p>Nombre <input type="text" th:field="*{nombre}" /></p>
  <p>Apellido <input type="text" th:field="*{apellido}" /></p>
   <p>Edad <input type="text" th:field="*{edad}" /></p>
   <p> <input type="submit" value="Aceptar" />  <input type="reset" value="Limpiar" /></p>
 </form>
 
</body>
</html>